<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Proizvodnja App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-dark rounded-pill mx-1" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark rounded-pill mx-1" href="/narudzbe">Narudžbe</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-dark rounded-pill mx-1" href="#" id="proizvodnjaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proizvodnja
          </a>
          <ul class="dropdown-menu bg-primary rounded">
            <li><a class="dropdown-item text-white" href="/tehnicka-priprema">Tehnička Priprema</a></li>
            <li><a class="dropdown-item text-white" href="/aplikacija-wj">Aplikacija WJ</a></li>
            <li><a class="dropdown-item text-white" href="/farbara">Farbara</a></li>
            <li><a class="dropdown-item text-white" href="/ljepljenje">Ljepljenje</a></li>
            <li><a class="dropdown-item text-white" href="/staklo">Staklo</a></li>
            <li><a class="dropdown-item text-white" href="/zavrsavanje">Završavanje</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-dark rounded-pill mx-1" href="#" id="sifrantiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Šifranti
          </a>
          <ul class="dropdown-menu bg-primary rounded">
            <li><a class="dropdown-item text-white" href="/sifrant-kupac">Kupac</a></li>
            <li><a class="dropdown-item text-white" href="/sifrant-mjesto">Mjesto</a></li>
            <li><a class="dropdown-item text-white" href="/sifrant-materijal-vani">Materijal Vani</a></li>
            <li><a class="dropdown-item text-white" href="/sifrant-boja-vani">Boja Vani</a></li>
            <li><a class="dropdown-item text-white" href="/sifrant-materijal-unutra">Materijal Unutra</a></li>
            <li><a class="dropdown-item text-white" href="/sifrant-boja-unutra">Boja Unutra</a></li>
            <li><a class="dropdown-item text-white" href="/sifrant-aplikacija">Aplikacija</a></li>
            <li><a class="dropdown-item text-white" href="/sifrant-model">Model</a></li>
            <li><a class="dropdown-item text-white" href="/sifrant-staklo">Staklo</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
