body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.custom-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background-color: #007bff;
    color: #fff;
    text-align: left;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #007bff;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.progress-bar {
    background-color: #28a745;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.progress-container {
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.navbar-brand {
    font-weight: bold;
  }
  
  .container {
    padding-top: 50px;
  }
  
  .dropdown-menu {
    min-width: 200px;
  }