body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  font-size: 12px;
  

}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.table thead {
  background-color: #007bff;
  color: #fff;
  text-align: left;
}

.table th, .table td {
  padding: 12px 15px;
  text-align: center;
  vertical-align: middle;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #007bff;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.progress-bar {
  background-color: #28a745;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.progress-container {
  background-color: #e9ecef;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.container {
  padding-top: 50px;
}

.table table-striped{
  font-size: 12px;
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  margin-top: 10px;
}
/* GitHub-like navbar styles */
/* GitHub-like navbar styles */
.navbar {
  font-family: Arial, sans-serif;
  background-color: #24292e; /* Dark GitHub-like background */
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.navbar-brand {
  color: #fff !important;
  display: flex;
  align-items: center;
}

.navbar-brand svg {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 500;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light hover effect */
}

.navbar .dropdown-menu {
  background-color: #2f363d;
}

.navbar .dropdown-item {
  color: #fff !important;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.navbar .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: #fff;
}

/* Logout button */
.navbar-nav .nav-link svg {
  margin-right: 5px;
}
/* Login page styling */
.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}


